node_modules
.vs
.vscode
~$*.docx
~WRL*.tmp
/*.*
!.gitignore
!*.bat
!z*.*
!_z*.*
**/dist*
client/*
!client/dist
client/dist/*.*
client/dist/*
!client/dist/experience
client/dist/experience/*.*
!client/your-extensions
!client/.editorconfig
server/*
!server/*.bat
!.nvmrc
